*{
    box-sizing: border-box;
}
body {
    margin: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.table-responsive {
    max-width: 1000px;
    border: 4px solid #132043;
    background-color: #fff;
    padding: 15px;
    overflow: auto;
    margin: auto;
    border-radius: 4px;
}

table{
    width: 100%;
    font-size: 20px;
    color: black;
    white-space: nowrap;
}

table>thead{
    background-color: #132043;
    color: whitesmoke;
}

table>thead th {
    padding: 15px;
}

table th, table td {
    border: 3px solid #1F4172;
}